:global(.ant-spin-dot) {
  width: 150px !important;
  height: 150px !important;
}

.root {
  display: flex;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 300px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.loadingIcon {
  font-size: 150px !important;
}

.retryBtn {
  margin-left: 10px;
}
