// base styles 基础样式配置

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.4em;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: $root_base_bgColor;
  color: $root_base_color;
  -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4 {
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,p {
  margin: 0;
}

ul, li {
  list-style: none;
}

li {
  list-style-type: none;
}