@import '../../Styles/variable';

.root {
  max-width: 550px;
  min-height: 230px;
  height: auto;
  margin: 0 auto;
}

.headline {
  width: 100%;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: rgba(175, 47, 47, 0.15);
}

.todoApp {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.todoForm {
  width: 100%;
  :global{
    .ant-input {
      font-size: 15px;
      padding: 20px {
        left: 40px !important;
      }
    }
    .ant-input-prefix {
      left: 16px !important;
    }
  }
}

.todoList {
  width: 100%;
  margin-top: 10px;
}

.todoItem {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemText {
  width: 410px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listFooter {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.todoFilters {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 0 10px;
    &:hover {
      color: #1890ff;
      box-shadow: 0 0 3px #1890ff inset;
      border-radius: 4px;
    }
  }
}

.selectedFilter {
  box-shadow: 0 0 3px #1890ff inset;
  border-radius: 4px;
  color: #1890ff;
}

.completedItem {
  color: rgba($root_base_color, 0.4);
  text-decoration: line-through;
  transition: color 0.5s ease-out;
}

.clearBtn {
  padding: 0 8px;
  cursor: pointer;
  color: $root_base_color;
  transition: text-decoration 0.2s ease-in;
  &:hover {
    text-decoration: underline;
  }
}
